/*div#corpo_site {
    width: 1920px;
}

div.container_chartjs {
    width: 900px;
    display: inline-block;
}*/

div#corpo_site {
    display: block;
    width: 100%;
}

div.container_chartjs {
    width: 49%;
    display: inline-block;
}